.variable-box {
  margin-top: 20px;
}

.variable-control-button {
  width: fit-content;
  margin: auto;
  background-color: #d5d5d8;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #2b2b2b;
  border-radius: 10px;
  cursor: pointer;
}

.variable-control-button-text {
  font-size: 1.5rem;
}

.variable-list-item {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.6rem;
}

.delete-variable-button-box {
  text-align: center;
}

.delete-variable-button {
  font-size: 1.4rem;
  color: #c70909;
  cursor: pointer;
  display: inline;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}