body {
  margin: 0;
}

.header {
  background-color: blue;
  height: 4rem;
}
.main {
  background-color: red;
  /* 画面の高さいっぱいに表示する。ただしheaderとfooterを考慮する */
  height: calc(100vh - 4rem - 4rem);
}
.footer {
  background-color: yellow;
  height: 4rem;
}

/* 768px以下 */
@media (min-width: 768px) {
  .header {
    background-color: green;
    height: 10rem;
  }
  .main {
    background-color: orange;
    height: calc(100vh - 10rem - 2rem);
  }
  .footer {
    background-color: purple;
    height: 2rem;
  }
}