@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@import "_variable.scss"; // 変数リスト
@import "header.scss"; // ヘッダー
@import "main.scss"; // メイン
@import "footer.scss";

body {
  margin: 0;
  background: linear-gradient($bgtop, $bgbottom);
  font-family: 'DotGothic16', sans-serif;
  color: $fontColor;
  touch-action: none;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
